fastapi
uvicorn[standard]
python-dotenv
pydantic

langchain
langchain-anthropic
langchain-core
langgraph

tavily-python
yfinance
wikipedia
requests
beautifulsoup4

chromadb

sqlalchemy
psycopg2-binary
